<div id="logo">
    <img src="../../../assets/img/logo.svg" alt="Logo">
</div>
<div id="footer-nav">
    <div class="foot-nav">
       <ul>
        <li>Features</li>
        <li><a href="#">Link Shortening</a></li>
        <li><a href="#">Branded Links</a></li>
        <li><a href="#">Analytics</a></li>
       </ul> 
    </div>
    <div class="foot-nav">
        <ul>
         <li>Resources</li>
         <li><a href="#">Blog</a></li>
         <li><a href="#">Developers</a></li>
         <li><a href="#">Support</a></li>
        </ul> 
     </div>
     <div class="foot-nav">
        <ul>
         <li>Company</li>
         <li><a href="#">About</a></li>
         <li><a href="#">Our Team</a></li>
         <li><a href="#">Careers</a></li>
         <li><a href="#">Contact</a></li>
        </ul> 
     </div>
     <div class="foot-img">
        <ul>
         <li><img src="../../../assets/img/icon-facebook.svg" alt="Facebook"></li>
         <li><img src="../../../assets/img/icon-twitter.svg" alt="Twitter"></li>
         <li><img src="../../../assets/img/icon-pinterest.svg" alt="Pinterest"></li>
         <li><img src="../../../assets/img/icon-instagram.svg" alt="Instagram"></li>
        </ul> 
     </div>
</div>