<div id="menu">
    <img src="../../../assets/img/logo.svg" alt="Logo">
    <div id="nav">
        <ul>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Resorces</a></li>
        </ul>
    </div>
    <div id="login">
        <p class="log"><a href="#">Login</a></p>
        <p class="sign"><a href="#">Sign Up</a></p>
    </div>
</div>
<div id="banner">
    <div id="title">
        <h1>More than just shorter links</h1>
        <p>Build your brands's recognition and get detailed insights on how your links are performing.</p>
        <p><a href="#">Get Started</a></p>
    </div>
    <div id="main-img">
        <img src="../../../assets/img/illustration-working.svg" alt="illustration working">
    </div>
</div>
