<div id="menu">
    <img class="nav-menu1" src="assets/img/logo.svg" alt="Logo">
    <img class="nav-menu2" src="assets/img/menu.png" alt="menu" (click)="openMenu()">
    <div id="nav">
        <ul>
            <li><img src="assets/img/logo.svg" alt="Logo"></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li class="bot"><a href="#">Resorces</a></li>
        </ul>
    </div>
    <div id="login">
        <a class="log" href="#">Login</a>
        <a class="sign" href="#">Sign Up</a>
    </div>
</div>
<div id="banner">
    <div id="title">
        <h1>More than just shorter links</h1>
        <p>Build your brands's recognition and get detailed insights on how your links are performing.</p>
        <a href="#">Get Started</a>
    </div>
    <div id="main-img">
        <img src="assets/img/illustration-working.svg" alt="illustration working">
    </div>
</div>
