<app-short></app-short>
<div id="container">
    <div id="second-title">
        <h2>Advanced Statics</h2>
        <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
    </div>
    <div id="cards">
        <div class="hr"></div>
        <div class="card card-1">
            <div class="div-img">
                <img src="assets/img/icon-brand-recognition.svg" alt="brand recognition">
            </div>
            <h3>Brand Recongition</h3>
            <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
        </div>
        <div class="card card-2">
            <div class="div-img">
                <img src="assets/img/icon-detailed-records.svg" alt="detailed records">
            </div>
            <h3>Detailed Records</h3>
            <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
        </div>
        <div class="card card-3">
            <div class="div-img">
                <img src="assets/img/icon-fully-customizable.svg" alt="fully customizable">
            </div>
            <h3>Fully Customizable</h3>
            <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>
    </div>
</div>
<div id="boost">
    <img id="boost-img" src="assets/img/bg-boost-desktop.svg" alt="boost desktop">
    <h2>Boost your links today</h2>
    <a href="#">Get Started</a>
</div>
