<app-short></app-short>
<div id="container">
    <div id="second-title">
        <h2>Advanced Statics</h2>
        <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
    </div>
    <div id="cards">
        <div class="card">
            <img src="../../../assets/img/icon-brand-recognition.svg" alt="brand recognition">
            <h3>Brand Recongition</h3>
            <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
        </div>
        <div class="card">
            <img src="../../../assets/img/icon-detailed-records.svg" alt="detailed records">
            <h3>Detailed Records</h3>
            <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
        </div>
        <div class="card">
            <img src="../../../assets/img/icon-fully-customizable.svg" alt="fully customizable">
            <h3>Fully Customizable</h3>
            <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>
    </div>
    <div id="boost">
        <h2>Boost your links today</h2>
        <p><a href="#">Get Started</a></p>
    </div>
</div>
